

<div class="row">
  <div class="col-md-12 mt-5 mb-5">
    <div class="card">
      <div class="card-header"> Kursai <a class="btn btn-primary float-end" [routerLink]="['/createcourse']">Sukurti naują kursą</a></div>


      <div class="card-body">



        <table class="table">
          <thead>
          <tr>
            <th>Kursų pavadinimas</th>

            <th></th>
            <th></th>
          </tr>
          </thead>
          <tbody>
          <tr *ngFor="let course of courses">

            <td>{{ course.name }}</td>


            <td>
              <a class="btn btn-success" [routerLink]="['/courses',course.id]"  >Redaguoti</a>&nbsp;
              </td>
            <td>
              <button class="btn btn-danger" (click)="onClickDelete(course.id)">Ištrinti</button>
            </td>
          </tr>
          </tbody>
        </table>


      </div>
    </div>
  </div>

</div>
