<div class="row">
  <div class="col-md-6">
    <div class="mb-3">
      <form #f="ngForm"  (ngSubmit)="onClickSave(f)">
        <input type="hidden" name="id" ngModel [(ngModel)]="id" >
        <div class="mb-3">
          <label class="form-label">Kursų pavadinimas</label>
          <input type="text" name="name" ngModel [(ngModel)]="name" required minlength="2" class="form-control" #fname="ngModel">
          <div *ngIf="!fname.valid && fname.touched " class="alert alert-danger mt-2">Pavadinimas privalomas, ir turi būti ne trumpesnis, nei 2 simboliai</div>

        </div>

        <button [disabled]="!f.valid"  type="submit" class="btn btn-success">Išsaugoti</button>
      </form>
  </div>
  <div class="col-md-6">
  </div>
</div>
</div>
