<div class="row">
  <div class="col-md-12 mt-5 mb-5">
    <div class="card">
      <div class="card-header"> {{ user.name }} {{ user.surname }}</div>


      <div class="card-body">
        <ul>
          <li class="list-group-item"> El. Paštas: {{ user.email }} </li>
          <li class="list-group-item"> Pareigos: {{ user.type}}</li>
          <li class="list-group-item"> Tel. Nr: {{ user.phone}}</li>
        </ul>

      </div>
      <div class="card-footer">
        Registruotas nuo: {{ user.created_at }}
      </div>
    </div>
  </div>

</div>
